@{
      ViewBag.Title = "Contact";
}
@model NatalBranco.ViewModel.EmailContact
<div class="container">
    <br /><br />
    <div class="row">
        <div class="col-md-4 text-center">
            <p class="section-title">
                <span class="text-blue">Realization</span>
            </p>
            <a target="_blank" href="http://obralumen.org.br/web/">
                <img src="~/Content/img/obra-lumen.png" alt="Obra Lumen"/>
            </a>
            <br /><br />
            <p class="text-about text-blue">
                CNPJ: 04.082.338/0001-90
            </p>
            <p class="text-about text-blue">
                torontonbl@gmail.com
            </p>
            <p class="text-about text-blue">
                www.natalbranco.com.br
            </p>
        </div>
        <div class="col-md-8">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="form-horizontal">

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="section-title">Contact</h3>
                            <div class="section-title-divider"></div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="control-label col-md-2"></div> 
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.ToEmail, new { htmlAttributes = new { @class = "form-control", @placeholder = "Your Email" } })
                            @Html.ValidationMessageFor(model => model.ToEmail, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="control-label col-md-2"></div> 
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.ToName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Your Name" } })
                            @Html.ValidationMessageFor(model => model.ToName, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="control-label col-md-2"></div> 
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.EmailSubject, new { htmlAttributes = new { @class = "form-control", @placeholder = "Subject" } })
                            @Html.ValidationMessageFor(model => model.EmailSubject, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="control-label col-md-2"></div> 
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.EMailBody, new { htmlAttributes = new { @class = "form-control", @placeholder = "Message" } })
                            @Html.ValidationMessageFor(model => model.EMailBody, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Send" class="btn btn-lg btn-primary" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10 text-success">
                            @ViewBag.Status
                        </div>
                    </div>
                </div>}
        </div>
    </div>
    <br />
    <br />
</div>