@{
    ViewBag.Title = "Testimonials";
}
<!--Navbar Custom for child pages -->
<link href="~/Content/navbar-custom.css" rel="stylesheet" />
<section id="page-testimonials">
    <div class="container">
        <br /><br />
        <div class="row">
            <div class="col-md-12">
                <p class="section-title">
                    <span class="text-blue">I am part of this</span>
                    <span class="text-black">Project</span>
                </p>
            </div>
        </div>
        <br /><br />
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-5 text-right">
                <img src="~/Content/img/Testimonials/01.jpg" class="img-responsive" />
            </div>
            <div class="col-md-6 text-left">
                <br />
                <p class="text-muted text-black">
                    "Participating on Natal Branco Lumen was an extraordinary experience for me; it was a
                    concrete experience with God’s merciful love. I could feel the happiness of those children
                    in participating on all activities and games throughout the day; and the happiness of
                    getting to know a God who cares for them. I could feel the presence of Christ himself on
                    the face of each one of them and, then, my faith was renewed. It’s very good to make
                    others happy; it’s rewarding to see parish youth engaged and believing in this amazing
                    project, that is undoubtedly a manifestation of faith through works. I wish that God
                    keeps blessing the whole Obra Lumen de Evangelização! Love is our goal! Christ is our"
                </p>
                <p class="text-muted text-black text-center"><strong>Ranyer Almeida</strong></p>
                <p class="text-muted text-black text-center">
                    <strong>
                        Parish Vicar of Saint John Baptist Church, in Natal Archdiocese, in Rio Grande do Norte, Brazil.
                    </strong>
                </p>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-6 text-left">
                <br />
                <p class="text-muted text-black">
                    "In The Holy Gospel we find many moments in which Jesus shows His love for Children,
                    that are called affectionately “little ones”. He even warns us saying that we should never
                    despise them, because their angels are in heaven constantly contemplating the face of
                    our Father (cf. Matthew 18, 10). When we help a child, when we give them a moment of
                    happiness, we are making the praise of their angels more beautiful. The Natal Branco
                    Lumen is an opportunity to bring happiness for these “little ones” of Jesus and we
                    should take advantage of this opportunity. I wish God blesses everyone that support this
                    project, that are looking to construct the Kingdom of Heaven."
                </p>
                <p class="text-muted text-black text-center"><strong>Maria Lucia C. Rocha</strong></p>
                <p class="text-muted text-black text-center">
                    <strong>
                        General Director of Christus High School in Fortaleza, Ceará, Brazil.
                    </strong>
                </p>
            </div>
            <div class="col-md-5 text-right">
                <img src="~/Content/img/Testimonials/02.jpg" class="img-responsive" />
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-5 text-right">
                <img src="~/Content/img/Testimonials/03.jpg" class="img-responsive" />
            </div>
            <div class="col-md-6 text-left">
                <br />
                <p class="text-muted text-black">
                    "Natal Branco Lumen made my childhood more colorful, more vivid; it brought me love. I could not
                    be who I am today if I hadn’t participated in that experience of love and care of
                    God himself to me. Today I am a person who has learned to love, because I have been
                    loved; and Natal Branco Lumen was responsible for that. “Love, love, love, nothing else”
                    is the greatest reality of this project and also the greatest life lesson that I could learn
                    from it!"
                </p>
                <p class="text-muted text-black text-center"><strong>Ibervan Andrade</strong></p>
                <p class="text-muted text-black text-center">
                    <strong>
                        Volunteer at the Lumen Social Projects, benefited by the Natal Branco as a child
                    </strong>
                </p>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-6 text-left">
                <br />
                <p class="text-muted text-black">
                    One of the best experiences of my life was to volunteer at Natal Branco Lumen! The love
                    that overflows by being there with those children fills me as if it was the resurrected
                    Christ loving me right there! Every smile, every hug, every time they call me “Ms. Livia”, it
                    all makes it worth the effort we do. Sometimes we think that it's the children who count
                    the days for the big celebration, but it's actually us who spend the whole year getting
                    ready and waiting anxiously for the moment to look into the eyes of those little ones.
                    Serving in my city’s Natal Branco Lumen is a great gift, but better still is having the
                    opportunity to go love in other cities and states around Brazil. I'm sure that the whole
                    project is a big smile from God to us
                </p>
                <p class="text-muted text-black text-center"><strong>Lívia Figueiredo</strong></p>
                <p class="text-muted text-black text-center">
                    <strong>
                        Natal Branco Lumen Project Coordinator in João Pessoa/PB
                    </strong>
                </p>
            </div>
            <div class="col-md-5 text-right">
                <img src="~/Content/img/Testimonials/04.jpg" class="img-responsive" />
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-5 text-right">
                <img src="~/Content/img/Testimonials/05.jpg" class="img-responsive" />
            </div>
            <div class="col-md-6 text-left">
                <br />
                <p class="text-muted text-black">
                    "I have been participating in the Natal Branco since 1999, when I joined the Obra
                    Lumen of evangelization. It is always joyful to celebrate Christmas with thousands of
                    children in need, sharing more than material goods, sharing mainly our presence,
                    attention, care and love. Most of the children are assisted throughout the year by Obra
                    Lumen by the various social projects that we carry out. It is not welfare! But a very
                    lively experience of love and responsibility in the face of the difficulties experienced by
                    those children. We also seek to stimulate in people the solidarity and mercy that we
                    can live in our daily lives. When evangelization changes people's values and attitudes,
                    we are sure that the kingdom of heaven is happening in this world. At this point we are
                    sure that Christmas is not celebrated by mere formalism surrounded by
                    superfluous moments, but with the concrete welcome of the savior who, as a child,
                    presents himself every day among us. Light and Peace."
                </p>
                <p class="text-muted text-black text-center"><strong>Fernando Nunes</strong></p>
                <p class="text-muted text-black text-center">
                    <strong>
                        General Coordinator of Obra Lumen de Evangelização
                    </strong>
                </p>
            </div>
        </div>
        <hr />
        <br /><br />
        <div class="row">
            <div class="col-md-12">
                <p class="section-title">
                    <span class="text-blue">"nothing is small if it is done out of love"</span>
                    <span class="text-black">Chiara Lubich</span>
                </p>
            </div>
        </div>

    </div>
</section>
<script>
    document.getElementById("link-about").href = "@Url.Action("Index", "Home")#page-about";
    document.getElementById("link-project").href = "@Url.Action("Index", "Home")#page-theproject";
    document.getElementById("link-howtohelp").href = "@Url.Action("Index", "Home")#page-howtohelp";
    document.getElementById("link-whereweare").href = "@Url.Action("Index", "Home")#page-whereweare";
    document.getElementById("link-contact").href = "@Url.Action("Index", "Home")#page-contact";
</script>